

body{

  font-family: Open Sans, Arial;
  background-color: rgba(82, 51, 21, 0.453);
  height: 600px;

}


#game-table{


  background-color: rgba(129, 12, 12, 0.9);
  height: 600px;
  margin: 150px;
  margin-top: 75px;
  border-radius: 100%;
  box-shadow: 0 0 15px 5px rgba(0,0,0,0.4);
  
}

/* Helper divs for positioning */

.sections-background{

  display: flex;
  flex-direction: column;
  height: 600px;

}

.user-display-helper-section-1,
.user-display-helper-section-4{

  background-color: none;
  height: 149px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.user-display-helper-section-2, 
.user-display-helper-section-3 {

  background-color: none;
  height: 149px;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* END OF Helper divs for positioning */

.image-username-container-p4 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: -50px; /* Adjust as needed for overall positioning */
  width: 110px;
  height: 142px; 
}

.image-username-container-p5 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: 0; /* Adjust as needed for overall positioning */
  flex-basis: 110px;
  height: 142px;
  margin-top: -70px;
  margin-left: 10px;
}

.image-username-container-p3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: 0; /* Adjust as needed for overall positioning */
  width: 110px;
  height: 142px;
  margin-top: -70px;
  margin-right: 10px;
}

.image-username-container-p6 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: 0; /* Adjust as needed for overall positioning */
  width: 110px;
  height: 142px;
  margin-top: 70px;
  margin-left: 10px;
}

.image-username-container-p2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: 0; /* Adjust as needed for overall positioning */
  width: 110px;
  height: 142px;
  margin-top: 70px;
  margin-right: 10px;
}

.image-username-container-p1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers both image and text horizontally */
  margin-top: 0; /* Adjust as needed for overall positioning */
  width: 110px;
  height: 142px;
  margin-top: 90px;
}

.image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensures the image is fully contained within the circle */
}

.p2, .p3, .p4, .p5, .p6, .p1{
  border: 4px solid green;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.usernames {
  margin-top: 5px; /* Adjust space between image and username */
  color: rgb(0, 0, 0);
  font-size: 1em; /* Adjust font size as needed */
  text-align: center;
}


